div{
    border: 2px solid red;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    color: white;
    width: 25%;
}
h2{
    text-align: center;
    background-color: black;
    padding: 5px;
    border: 2px solid red;
    border-radius: 20px;

}
p{
    text-align: justify;
    font-size: 10px;
    font-family: Comic Sans Ms;


}
.c1{
    background: linear-gradient(45deg, red,black);
}
.c2{
    background: linear-gradient(90deg,green,yellow);

}
.c3{
    background: linear-gradient(90deg,yellow,pink);
}